$white: #fff
$whiteOpacity: rgba(255, 255, 255, 0.4)
$black: #000
$blackOpacity: rgba(0, 0, 0, 0.4)
$lightGrey: rgb(209,208,207 )
$beige: #e1bc85
$lightOrange: #e5ac57
$orange: #e19625
$lightBeige: #e1b981
$darkBrown: #46423e
$lightGreen: #e0f4d5
$green: rgb(57, 143, 8)
$notesColor: #beb693