@import "breakpoints"
@import "sizes"
.container
  display: flex
  width: 100%
  max-width: $containerSizeL
  margin: 0 auto
  @media screen and (max-width: $largeScreen)
    max-width: $containerSizeM
  @media screen and (max-width: $mediumScreen)
    max-width: $containerSizeS
.full-width
  width: 100%
.d-flex
  display: flex
.d-inline-flex
  display: inline-flex
.flex-wrap
  flex-wrap: wrap
.flex-row
  flex-direction: row
.flex-column
  flex-direction: column
.justify-content-center
  justify-content: center
.justify-content-between
  justify-content: space-between
.justify-content-around
  justify-content: space-around
.justify-content-end
  justify-content: flex-end
.align-items-center
  align-items: center
.align-items-stretch
  align-items: stretch
.d-grid
  display: grid
  &__column-3
    grid-template-columns: repeat(3, 1fr)
  &__column-4
    grid-template-columns: repeat(4, 1fr)
  &__column-tss-1
    @media screen and (max-width: $tabletScreenSmall)
      grid-template-columns: repeat(1, 1fr)
