@import "colors"
@import "sizes"
@import "breakpoints"
.footer
  background-color: $beige
  box-sizing: border-box
  .container
    box-sizing: border-box
    padding-top: $smallMarginSize
  .social-media
    &__list
      list-style: none
      display: inline-flex
      padding-left: 0
      @media screen and (max-width: $tabletScreenSmall)
        display: flex
        justify-content: center
        width: 100%
        margin-top: 0
        margin-bottom: $smallMarginSize
      li
        margin-left: $marginSize
        @media screen and (max-width: $tabletScreenSmall)
          margin-left: $smallMarginSize
          margin-right: $smallMarginSize
      svg
        path
          fill: $white
        &:hover
          path
            fill: $black
  &--bottom-label
    font-size: $textSmallSize
    color: $white
#footer
  &-logo
    margin-bottom: $smallMarginSize
    @media screen and (max-width: $tabletScreenSmall)
      order: 1
    img
      height: 60px
      width: auto
  &--menu
    @media screen and (max-width: $tabletScreenSmall)
      width: 100%
    &__list
      padding-left: 0
      list-style: none
      @media screen and (max-width: $tabletScreenSmall)
        display: flex
        justify-content: center
        width: 100%
        flex-wrap: wrap
        margin-top: 0
        margin-bottom: $smallMarginSize
      li
        margin-right: $marginSize
        @media screen and (max-width: $tabletScreenSmall)
          width: 100%
          text-align: center
          margin-right: 0
      a
        text-decoration: none
        color: $white
        &:hover
          color: $black