@import "colors"
@import "sizes"
.minicart
  z-index: 10
  position: fixed
  width: 540px
  top: 0
  bottom: 0
  right: -540px
  background-color: $white
  transition: all 0.3s
  box-sizing: border-box
  padding: 20px 32px 32px 32px
  display: flex
  flex-direction: column
  &__active
    right: 0
  &--button
    position: relative
    text-shadow: 0 0 2px $black
  &--icon
    padding-top: 10px
    svg
      margin-bottom: -5px
  &--count
    position: absolute
    background-color: $beige
    border-radius: 50%
    display: inline-flex
    height: 20px
    width: 20px
    align-items: center
    justify-content: center
    right: -12px
    font-size: 12px
    color: $white !important
  &--toggler
    svg
      width: 26px
      height: 26px
      path
        stroke: $darkBrown
  &--header
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    margin-bottom: $marginSize
    font-size: 28px
    font-family: "Amiri", serif
  &--label
    display: flex
    align-items: center
    padding: 15px $textSize 14px
    border-radius: 3px
    margin-bottom: $marginSize
    background-color: $lightGreen
    color: $green
    font-size: $textSize
    svg
      width: 16px
      height: 16px
      margin-right: 12px
.woocommerce
  &-mini
   &-cart
     padding-left: 0
     margin-top: 0
     list-style: none
     overflow-y: auto
     margin-bottom: 0
     &-item
       display: flex
       width: 100%
       align-items: stretch
       margin-bottom: 32px
       &__info
         display: flex
         flex-wrap: wrap
         align-items: flex-start
         & > a
           text-decoration: none
           font-size: $textSize
           width: 100%
       &__attrs
         width: 100%
         ul
           list-style: none
           padding-left: 0
           width: 100%
           li
             width: 100%
             font-size: 14px
       &__quantity
         margin-top: auto
         display: inline-flex
         align-items: center
         border: 1px solid $lightGrey
         border-radius: 3px
         font-size: $textSize
         height: 38px
         span
           display: inline-flex
           width: 35px
           align-items: center
           justify-content: center
         a
           text-decoration: none
           svg
             width: $textSize
             height: $textSize
           &.decrease
            padding-left: 8px
            padding-right: 3px
           &.increase
            padding-left: 3px
            padding-right: 8px
       .remove
         display: none
       &__price
         margin-left: auto
         font-size: $textSize
         font-weight: 600
         display: flex
         flex-direction: column
         justify-content: space-between
         align-items: flex-end
       &__remove
         svg
          width: 20px
          height: auto
          path
            transition: all 0.3s
            fill: $lightGrey
          &:hover
            path
              fill: $lightBeige
     &__total
       color: $beige
       font-size: 28px
       display: flex
       justify-content: space-between
       font-weight: 400
       box-sizing: border-box
       border-top: 1px solid $lightGrey
       width: calc(100% + 64px)
       margin: auto -32px $smallMarginSize -32px
       padding: 32px 32px 0 32px
       strong
         font-weight: 400
     &__buttons
      margin: 15px 0 0 0
      .checkout
        width: 100%
        background-color: $lightOrange
        border-radius: 3px
        text-transform: uppercase
        transition: all 0.3s
        padding: 0
        height: 48px
        display: flex
        align-items: center
        justify-content: center
        &:hover
          background-color: $orange
     .attachment-product_cart_image,
     .woocommerce-placeholder
       margin-right: $marginSize
       border: 1px solid $lightGrey
.order-note
  &__title
    color: $notesColor
    font-size: $textSize
  &__text
    width: 100%
    font-size: 17px
    height: 98px
    padding: 10px
    box-sizing: border-box
    display: none
    margin-top: $smallMarginSize
    border: 1px solid $lightGrey