@import "colors"
@import "sizes"
@import "breakpoints"
body,
h1,
h2,
h3,
h4,
h5,
h6
  font-family: "Futura", sans-serif
  font-weight: 400
  color: $text
  margin-top: 0
h2
  color: $beige
  font-size: $subTitleSize
  margin-bottom: $marginSize
p
  margin-top: 0
input[type="text"],
input[type="email"],
input[type="password"]
  height: 46px
textarea
  height: 150px
input[type="file"]
  width: 100%
input[type="text"],
input[type="email"],
input[type="file"],
input[type="password"],
textarea
  margin-top: 6px
  margin-bottom: 24px
input[type="text"],
input[type="email"],
input[type="password"],
textarea
  background-color: $white
  border: 1px solid $borderColor
  border-radius: 2px
  padding: 13px 15px
  color: $text
  font-size: $textSize
  box-sizing: border-box
  width: 100%
label
  font-size: $textSmallSize
  color: $productTitleColor
  display: block
  font-weight: 700
  position: relative
input[type="submit"],
form button
  width: 100%
  background-color: $addToCartButtonBG
  height: 42px
  display: flex
  justify-content: center
  align-items: center
  text-transform: capitalize
  color: $white
  cursor: pointer
  border: 1px solid $addToCartButtonBG
  border-radius: 3px
  transition: all 0.3s
  font-family: "Futura Bold", sans-serif
  font-size: $textSize
  margin-bottom: 24px
  &:hover
    color: $addToCartButtonBG
    background-color: $white
.wpcf7-not-valid-tip
  position: absolute
  font-size: $textExtraSmall
  top: -40px
  right: 0
.title
  font-family: 'Amiri', serif
  font-weight: 400
.thin
  font-family: "Futura Thin", sans-serif
  font-weight: 300
.bold
  font-family: "Futura Bold", sans-serif
  font-weight: 600
a
  transition: all 0.3s
#primary
  width: 100%
  @media screen and (max-width: $tabletScreenSmall)
    margin-top: 90px
.woocommerce
  &-breadcrumb
    margin-bottom: $mediumMarginSize
    z-index: 1
    font-size: $textSmallSize !important
    width: 100%
    a
      color: $addToCartButtonBG !important
      size: $textSmallSize
      text-decoration: none
      &:hover
        color: $beige !important
  &-error
    .button
      display: none
  &-pagination
    &--without-numbers
      display: flex
      a
        &.woocommerce-button--next
          margin-left: auto
.site
  &-content
    min-height: calc(100vh - 104px)
    position: relative
    z-index: 1
    padding-top: 120px
    padding-bottom: 80px
    box-sizing: border-box
    @media screen and (max-width: $tabletScreen)
      padding-top: 90px
  &-overlay
    display: none
    position: fixed
    top: 0
    right: 0
    left: 0
    bottom: 0
    background-color: $blackOpacity
    z-index: 9
    &__active
      display: block

a
  transition: all 0.3s
.light-beige
  color: $lightBeige
.loader
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: $whiteOpacity04
  display: none
  svg
    width: 100px
    height: 100px
    path
      fill: $beige
  &.active
    display: flex
    justify-content: center
    align-items: center
.pagination
  width: 100%
  text-align: center
  margin-bottom: 30px
  span
    &.current
      color: $text
      text-decoration: underline
      margin-left: 5px
      margin-right: 5px
  a
    text-decoration: none
    color: $textGrey
    margin-left: 5px
    margin-right: 5px
    &:hover
      background-color: unset
      color: $beige
.wpcf7
  &-spinner
    display: none !important
  form
    &.invalid .wpcf7-response-output,
    &.unaccepted .wpcf7-response-output,
    &.payment-required .wpcf7-response-output
      margin: 0
      font-size: $textSmallSize
      border-radius: 3px
